.cv-container {
    display: flex;
    align-items: center;
  }
  
  .cv-details {
    margin-left: 20px; /* Ajusta el margen según tus preferencias */
  }
  
 
  
  .cv-heading{
    display: block;
    margin: 25px; /* Ajusta el margen entre el nombre y la carrera según tus preferencias */
  }
  